Django==4.2.30
djangorestframework==3.15.2
drf-spectacular==0.28.0
strawberry-graphql==0.315.5
strawberry-graphql-django==0.82.1
celery==5.4.0
redis==5.0.7
django-redis==5.4.0
django-cacheops==7.0.1
psycopg2-binary==2.9.9
gunicorn==22.0.0
python-dotenv==1.2.2
requests==2.33.0
dj-database-url==2.3.0
prometheus-client==0.21.1
